<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <!-- <li class="list-group-item" *ngFor="let number of numbers" *ngIf="number % 2 == 0">
          {{ number }}
        </li> -->
        <!-- <div *ngIf="onlyOdd">
            <li 
              class="list-group-item" 
              *ngFor="let odd of oddNumbers" 
              [ngClass]="{'odd': odd % 2 !== 0}"
              [ngStyle]="{'background': odd % 2 !== 0 ? 'yellow' : 'transparent'}">
              {{ odd }}
            </li>
        </div>

        <div *ngIf="!onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let even of evenNumbers" 
            [ngClass]="{'odd': even % 2 !== 0}"
            [ngStyle]="{'background': odd % 2 !== 0 ? 'yellow' : 'transparent'}"> 
            {{ even }}
          </li>
        </div> -->
        <div *appUnless="onlyOdd">
          <li 
            class="list-group-item" 
            *ngFor="let even of evenNumbers" 
            [ngClass]="{'odd': even % 2 !== 0}"
            [ngStyle]="{'background': odd % 2 !== 0 ? 'yellow' : 'transparent'}"> 
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p [appBetterHighlight]="'red'" [defaultColor]="'yellow'">Style me with basic directive!</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
  </div>
</div>
